[user]
	name = cartolari
	email = bruno.cartolari@gmail.com
[core]
	editor = nvim
	excludesfile = /home/bruno/.gitignore_global
[alias]
	co = checkout
	st = status
	ctags = !.git/hooks/ctags
[diff]
	tool = nvimdiff
[merge]
	defaultToUpstream = true
	tool = nvimdiff
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
[init]
	templatedir = /home/bruno/.git_template
[grep]
	patternType = perl
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
