[user]
	name = cartolari
	email = bruno.cartolari@gmail.com
[core]
	editor = vim
[alias]
	co = checkout
	st = status
[diff]
	tool = vimdiff
[merge]
	defaultToUpstream = true
	tool = vimdiff
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
