[user]
	name = cartolari
	email = bruno.cartolari@gmail.com
[core]
	editor = nvim
	excludesfile = /home/bruno/.gitignore_global
[alias]
	co = checkout
	st = status
[diff]
	tool = nvimdiff
[merge]
	defaultToUpstream = true
	tool = nvimdiff
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[branch]
	autosetuprebase = always
