[Desktop Entry]
Type=Application
Version=1.0
Name=Pulsemixer
Comment=Manages system audio
Icon=/usr/share/icons/Papirus/128x128/apps/preferences-sound.svg
Exec=pulsemixer
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
