[Unit]
After=novnc-xvnc@%i.service
Description=NoVNC Openbox window manager for %i
Requires=novnc-xvnc@%i.service

[Service]
EnvironmentFile=%T/novnc/%i/environment
ExecStart=/usr/bin/env DISPLAY=${DISPLAY} openbox
ExecStartPre=/usr/bin/sleep 1
Restart=on-failure
