[Unit]
After=novnc-openbox@%i.service
After=novnc-xvnc@%i.service
Description=NoVNC APP for %i
Requires=novnc-xvnc@%i.service
Wants=novnc-openbox@%i.service
Wants=novnc-websockify@%i.service

[Service]
EnvironmentFile=%T/novnc/%i/environment
ExecStart=/usr/bin/env DISPLAY=${DISPLAY} %h/.local/bin/novnc-launch-desktop-file %i
Restart=on-failure
