[Unit]
BindsTo=sway-session.target
Description=Waybar

[Service]
ExecStart=/usr/bin/waybar
Restart=always
Type=simple

[Install]
WantedBy=default.target
