[Unit]
BindsTo=sway-session.target
Description=Wayland Overlay Bar Socket
PartOf=pipewire-pulse.service

[Socket]
ListenFIFO=%t/wob.socket
RemoveOnStop=true

[Install]
WantedBy=default.target
